<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs')%>

<body>
    <%- include('./partials/navbar.ejs')%>
    <div class="container">
        <h1>Welcome to my blog</h1>
        <div class="row">
            <div class="col-10">
    <select class="form-control" id="selectYear">
                <option value="All">All year</option>

            <% year.forEach(element => { %>
                <option value="<%= element %>"><%= element %></option>
            <% }) %>
            </select>
            </div>
            <div class="col-2">
         <button id="btnAdd" type="button" class="btn btn-success">Add</button>
            </div>

        </div>
        
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Title</th>
                    <th>Detail</th>
                    <th>Year</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
               <% for( let index = 0; index < post.length; index++ ) { %>
               <tr>
                   <td><%= index+1 %> </td>
                   <td> <%= post[index].title %> </td>
                   <td> <%= post[index].detail %> </td>
                   <td> <%= post[index].year %> </td>
                   <td>
                       <button type="button" class="btn btn-danger btnDelete">Delete</button>
                       <button type="button" class="btn btn-warning btnEdit">Edit</button>
                   </td>
               </tr>
               <% } %>
            </tbody>
        </table>
        <%- include('./partials/footer.ejs')%>

    </div>
</body>
</html>